name: CI for master branch

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
    - uses: subosito/flutter-action@v1
      name: Checkout to beta
      with:
        channel: 'beta' # or: 'dev' or 'beta'
    - name: Install dependencies
      run: flutter pub get
    - name: Flutter test coverage
      run: flutter test --coverage
    - name: Remove some unnecessart files from coverage
      run: flutter pub run remove_from_coverage -f coverage/lcov.info -r 'swagger_models' -r 'models'
    - uses: codecov/codecov-action@v1.0.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./coverage/lcov.info