name: CI for master branch

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
    - uses: subosito/flutter-action@v1
      name: Checkout to beta
      with:
        channel: 'beta' # or: 'dev' or 'beta'
    - name: Install dependencies
      run: flutter pub get
    - name: Flutter test coverage
      run: flutter test --coverage
    - uses: codecov/codecov-action@v1.0.2
      with:
        file: ./coverage/lcov.info
        ignore:
          - "./lib/src/models"
